Button{
    -fx-font-size: 16px;
    -fx-background-color: #3b82f6;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}
Button:hover{
    -fx-background-color: #09367e;
    -fx-cursor: hand;
}

Label{
    -fx-font-size: 20px;
    -fx-text-fill: #4b5563;
    -fx-font-family: 'Segoe UI';
}
#titulo{
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #3b82f6;
    -fx-font-family: 'Segoe UI';
}

#div_main{
    -fx-background-color: linear-gradient(to bottom right, #f5d1eb, #c4dbf8);
}
#div_titulo{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 40;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.3, 0, 4);
}
TextFild {
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-max-width: 15em;
    -fx-max-height: 2.5em;
    -fx-padding: 0 0 0 0.8em;
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-alignment: rigth;
}

TextFild:hover,
TextFild:focused {
    -fx-border-color: #4A9DEC;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(74,157,236,0.2), 7, 0.0, 0, 0);
}
